.app-wrapper {
  width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-areas:
 "h h"
  "n m";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
}

.header {
  grid-area: h;
  background-color: aquamarine;

}

.nav {
  grid-area: n;
  background-color: aqua;

}
.main {
  grid-area: m;
  background-color: antiquewhite;
}

.header img {
  width: 20px ;
  height: 30px;
}

.ava img {
  width: 50px;
  height: 50px;
}